// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hand{
  cursor: pointer;
}
.noselect{
  pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.favColor{
  color: #65c5b4;
}
.domainSelectBtn{
  padding: 7px;
}
.hide{
  display: none;
}
.favBG{
  background-color: #65c5b4;
}

$favColor: #65c5b4;

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}
@media (min-width: 600px){
  .modal600per70 {
      max-width: 70% !important;
      margin: 1.75rem auto;
  }
}
